# ---------------------------
# Temporary files / histories
# ---------------------------
*~
*.swp
data/tmp/*
tmp/*
*.Rproj.user
*.Rproj
*.RData
*.Rhistory
*.ipynb_checkpoints*

# --------------------------
# Large Data files
# --------------------------
*.fq.gz
*.fq
*.fastq.gz
*.bam
*.bam.bai
*.vcf
*.vcf.idx
*.gvcf
*.bcf
*.gtf
*.2bit
*.cif
*.cif.gz
*.xml
*.xml.gz
*.pse
*cufflinks*
*cuffData.db
*_tracking
*.diff
*.bt
*.bt2
*.bcf
*.pse

# --------------------------
# Local Data
# --------------------------
local/*
*local*
software/*
literature/*
# resources must be added with -f
resources/*

# --------------------------
# Plot Files
# --------------------------
literature/*.tif
*.pse

# --------------------------
# Specific Local Files
# --------------------------
# Natural rDNA Variation
data/*/1kg_hgr1*datasets.xlsx
data/hgr1_vcf/100g_gvcf/gvcf_individual/*
data/vcf_correlation/vcf/*
data/CRC
data/rm/*
data/tmp/*

# rDNA/rRNA Variation in cancer
# restricted data  ----------- 
data2/*/hgr1.fa
data2/aml/*
data2/Breast/*
data2/cml/*
data2/TALL/*
data2/TALL2/*

# extra files in data folders
data2/*.pdf
data2/6EK0/*
data2/archs4/*

#
wiki/notebook/.ipynb_checkpoints/*
data/dlbcl/*

# --------------------------
# Restricted keywords
# --------------------------
*PRIVATE*
*token*
*.pem
.Rproj.user
